div.content {
  width       : auto;
  height      : auto;
  padding     : 1%;
  color       : #F5F5F5;
  text-align  : center;
  font-family : 'ubuntu';
  margin    : 1%;
  font-size : 30pt;
}
a.buttontext {
  margin : 10px;
  color       : #424242;
  font-family : 'ubuntu';
}

div.buttons {
  display          : inline-block;
  width            : fit-content;
  margin           : 1%;
  color            : #424242;
  border-radius    : 5px;
  background-color : #F5F5F5;
  outline          : none;
  transition       : 0.5s;
}

div.buttons:hover {
  background-color : #C2C2C2;
}

div.buttons:focus {
  background-color : #C2C2C2;
}
